body
{
    background-image: url(../../images/1612802097_17-p-nezhno-goluboi-fon-dlya-fotoshopa-17.jpg)
}
.primer
{
    padding-left: 15px;
    width: 90%;
    border: 1pt solid;
    border-color: blue;
}