body {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/../Image/1600225137_14-p-priyatnii-fon-dlya-saita-20.jpg);
}

p {
    text-indent: 30px;
    margin: 0; 
    text-align: justify;
}

li{
    text-align: justify;
}

dt {
    color: green;
}